<div class='mt-4'>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>#</th>
                <th>Tên khóa học</th>
                <th>Trình độ</th>
                <th>Thời gian tạo</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='/courses/{{this._id}}/edit' class='btn btn-warning'>Sửa</a>
                        <a href='/courses/{{this._id}}/delete' class='btn btn-danger'>Xóa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>